@model User

<div>
    <h1>@Model.Login</h1>
    <div>
        <p>Email - @Model.Email</p>
        <p>Пароль - @Model.Password</p>
        <p>Роль - @Model.Role.Title</p>
        <div>
            <a asp-action="Index" class="btn btn-outline-primary">Назад</a>
            <a asp-action="Update" asp-route-id="@Model.Id" class="btn btn-outline-primary">Редактировать</a>
            <a asp-action="Remove" asp-route-id="@Model.Id" class="btn btn-outline-danger">Удалить</a>
        </div>
    </div>
</div>