@model Person

<table class="table">
    <tbody>
        <tr>
            <th scope="row">ФИО</th>
            <td>@Model.Surname @Model.Name @Model.Patronymic</td>
        </tr>
        <tr>
            <th scope="row">Пол</th>
            <td>@Model.Sex.Title</td>
        </tr>
        <tr>
            <th scope="row">Дата рождения</th>
            <td>@Model.DateOfBirth.ToLongDateString()</td>
        </tr>
        <tr>
            <th scope="row">Образование</th>
            <td>@Model.Education</td>
        </tr>
        <tr>
            <th scope="row">Опыт</th>
            <td>@Model.Expirience</td>
        </tr>
        <tr>
            <th scope="row">Технологии</th>
            <td>
                @foreach (Technology item in Model.Technologies)
                {
                    <p>@item.Title</p>
                }
            </td>
        </tr>
        <tr>
            <th scope="row">Номер телефона</th>
            <td>
                @foreach (Phone item in Model.Phones)
                {
                    <p>@item.Number</p>
                }
            </td>
        </tr>
        <tr>
            <th scope="row">Email</th>
            <td>
                @foreach (Email item in Model.Emails)
                {
                    <p>@item.EmailAddress</p>
                }
            </td>
        </tr>
        <tr>
            <th scope="row">Соц. сеть</th>
            <td>
                @foreach (SocialMediaLink item in Model.SocialMediaLinks)
                {
                    <p>@item.Link</p>
                }
            </td>
        </tr>
        <tr>
            <th scope="row">Статус</th>
            <td>@Model.Status.Title</td>
        </tr>
    </tbody>
</table>
<div id="comments">
    <form asp-action="AddComment" asp-route-id="@Model.Id" class="form-horizontal text-center" id="commentAdding" style="display:none">
        <textarea class="form-control" id="text"></textarea>
        <p>
            <button onclick="return cancelAdding()" class="btn btn-outline-secondary">Отмена</button>
            <button type="submit" class="btn btn-outline-secondary">Сохранить</button>
        </p>
    </form>
</div>
<p>
    <a asp-action="Index" class="btn btn-outline-primary">Назад</a>
    <a asp-action="Update" asp-route-id="@Model.Id" class="btn btn-outline-primary">Редактировать</a>
    <button onclick="return addComment()" class="btn btn-outline-primary">Добавить комментарий</button>
    <a asp-action="Remove" asp-route-id="@Model.Id" class="btn btn-outline-danger">Удалить</a>
</p>

<script>
    function cancelAdding() {
        $('#commentAdding').hide();
        return false;
    }
    function addComment() {
        $('#commentAdding').show();
        return false;
    }
</script>