@model Response

<div class="my-form">
    <form asp-action="Create" class="form-horizontal text-center">
        <span class="heading">Добавление ответа на вакансию</span>
        <div>
            <div class="form-group row">
                <label for="Vacancy" class="col-sm-4 col-form-label">Вакансия</label>
                <div class="col-sm-8">
                    @Html.DropDownListFor(model => model.IdVacancy, ViewBag.Vacancies as SelectList, new { @class = "form-control", id = "Vacancy" })
                    <button asp-controller="Vacancy" asp-action="Create" formmethod="get" class="btn btn-outline-secondary btn-block mt-2">Добавить вакансию</button>
                </div>
            </div>
            <div class="form-group row">
                <label for="Person" class="col-sm-4 col-form-label">Кандидат</label>
                <div class="col-sm-8">
                    @foreach (Person person in ViewBag.People)
                    {
                        <select id="Person" asp-for="IdPerson">
                            <option value="@person.Id">@person.Surname @person.Name @person.Patronymic</option>
                        </select>
                    }
                    <button asp-controller="Person" asp-action="Create" formmethod="get" class="btn btn-outline-secondary btn-block mt-2">Добавить резюме</button>
                </div>
            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-primary">Отмена</a>
                <button type="submit" class="btn btn-primary">Добавить</button>
            </div>
        </div>
    </form>
</div>